/* screen - web-1920-3 */

.web-1920-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3550px;
  width: 1920px;
}

.web-1920-3 .overlap-group3 {
  align-items: center;
  background-color: var(--nile-blue);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 0 28px;
}

.web-1920-3 .starburst-creative-web-logo {
  align-self: flex-start;
  height: 164px;
  margin-top: -1px;
  object-fit: cover;
  width: 335px;
}

.web-1920-3 .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 537px;
  margin-top: 12.0px;
  min-height: 62px;
  min-width: 139px;
  white-space: nowrap;
}

.web-1920-3 .about {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 53px;
  margin-top: 12.0px;
  min-height: 62px;
  min-width: 149px;
  white-space: nowrap;
}

.web-1920-3 .work {
  color: #16bca4;
  font-family: var(--font-family-allround_gothic-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 50px;
  margin-left: 43px;
  margin-top: 12.0px;
  min-height: 62px;
  min-width: 129px;
  white-space: nowrap;
}

.web-1920-3 .overlap-group6 {
  border-radius: 39px;
  height: 91px;
  margin-left: 44px;
  margin-top: 1.0px;
  position: relative;
  width: 419px;
}

.web-1920-3 .rectangle-5 {
  background-color: var(--sundown);
  border-radius: 39px;
  cursor: pointer;
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 419px;
}

.web-1920-3 .rectangle-5:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.web-1920-3 .contact-us {
  left: 67px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.web-1920-3 .overlap-group5 {
  height: 704px;
  position: relative;
  width: 1920px;
}

.web-1920-3 .widget-wrapper {
  align-items: flex-start;
  display: flex;
  height: 704px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.web-1920-3 .worksections-01 {
  object-fit: cover;
  width: 100%;
}

.web-1920-3 .rectangle-57 {
  background-color: var(--caribbean-green);
  border-radius: 39px;
  cursor: pointer;
  height: 91px;
  left: 1183px;
  position: absolute;
  top: 572px;
  width: 419px;
}

.web-1920-3 .place-1 {
  left: 1326px;
  top: 595px;
}

.web-1920-3 .overlap-group2 {
  height: 719px;
  margin-top: 56px;
  position: relative;
  width: 1920px;
}

.web-1920-3 .collage-09 {
  height: 126px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 593px;
  width: 1920px;
}

.web-1920-3 .worksections-02 {
  height: 704px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.web-1920-3 .rectangle-58 {
  background-color: var(--sundown);
  border-radius: 39px;
  cursor: pointer;
  height: 91px;
  left: 449px;
  position: absolute;
  top: 588px;
  width: 419px;
}

.web-1920-3 .place-2 {
  left: 592px;
  top: 611px;
}

.web-1920-3 .overlap-group {
  background-image: url(../img/worksections-03@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 704px;
  margin-top: 56px;
  position: relative;
  width: 1920px;
}

.web-1920-3 .rectangle-59 {
  background-color: var(--madang);
  border-radius: 39px;
  cursor: pointer;
  height: 91px;
  left: 1184px;
  position: absolute;
  top: 595px;
  width: 419px;
}

.web-1920-3 .place-3 {
  left: 1327px;
  top: 618px;
}

.web-1920-3 .overlap-group4 {
  background-image: url(../img/worksections-04@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 704px;
  margin-top: 56px;
  position: relative;
  width: 1920px;
}

.web-1920-3 .rectangle-60 {
  background-color: var(--nile-blue);
  border-radius: 39px;
  cursor: pointer;
  height: 91px;
  left: 342px;
  position: absolute;
  top: 588px;
  width: 419px;
}

.web-1920-3 .place-4 {
  color: var(--madang);
  font-family: var(--font-family-cherrysoda-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 485px;
  top: 611px;
}

.web-1920-3 .socials-container {
  align-items: flex-end;
  background-color: var(--sundown);
  display: flex;
  height: 352px;
  margin-top: 35px;
  min-width: 1920px;
  padding: 132px 842px;
}

.web-1920-3 .socials-23 {
  cursor: pointer;
  height: 79px;
  object-fit: cover;
  width: 78px;
}

.web-1920-3 .place-5 {
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  white-space: nowrap;
}
